/**/
body{
    font-family: 'Oswald', sans-serif;
}


/* HEADER */

.header-container{
    position: relative;
    background-image: url(../img/header.jpg);
    background-position: center;
    padding-bottom: 10%;
    
}

.filter{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 70%;
}
nav{
    position: absolute;
}

.header-container hr {
    border-top: 1px solid white;
}

.courgette{
    font-family: 'Courgette', cursive;
}

.header-text img{
    width: 70px;
}

.header-text{
    position: relative;
    text-align: center;
    color: white;
    padding: 50px 0px 100px 0px;
}

.header-text img, .header-text h1, .header-text h2{
    margin-bottom: 20px;
}


/* FOOTER */

footer{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    color: white;
    padding: 70px 0px;
}

.column{
    display: flex;
    flex-direction: column;
}

.column a{
    font-family: 'Oswald', sans-serif;
}

div 
{
    justify-content: space-around;
    font-size: 15px;
}

div h3
{
    font-size: 20px;
    color: white;
    font-weight: 200;
}

.input-group button{
    color: white;
    font-family: 'Oswald', sans-serif;
}

.icones-rs{
    display: flex;
    gap: 5px;
}

.icones-rs i{
    text-align: center;
    width: 30px;
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 10%;
}

.share{
    padding-top: 10px;
}

hr div p
{
    font-family: 'Courgette', cursive;
}

.oswald{
    font-family: 'Oswald', sans-serif;
    color: gray;
    font-weight: 300;
}

.container .column input{
    width: 170px;
    color: gray;
} 

.container .column button{
    border: 1px solid black;
    color: black;
}

.courgette{
    font-family: 'Courgette', cursive;
}

.column{
    display: flex;
    flex-direction: column;
}

/* MAPS */
div iframe

{
    padding-right: 10%;
}

/*CONTACT*/
div h2
{
    font-family: 'Courgette', cursive; 
}

div p 
{
    font-family: 'Oswald', sans-serif;
    color: grey;
}

footer a 

{
    color: grey;
}