
/* HEADER */

nav{
    position: absolute;
}

.header-container hr {
    border-top: 1px solid white;
}

.courgette{
    font-family: 'Courgette', cursive;
}

.header-text img{
    width: 70px;
}

.header-text{
    position: relative;
    text-align: center;
    color: white;
}

.header-text img, .header-text h1, .header-text h2{
    margin-bottom: 20px;
}

/* FOOTER */

footer{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    color: white;
    padding: 70px 0px;
}

.column{
    display: flex;
    flex-direction: column;
}

.column a{
    font-family: 'Oswald', sans-serif;
    color: white;
    font-weight: 200;
}

.input-group button{
    color: white;
    font-family: 'Oswald', sans-serif;
}

.icones-rs{
    display: flex;
    gap: 5px;
}

.icones-rs i{
    text-align: center;
    width: 30px;
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 10%;
}

.share{
    padding-top: 10px;
}

@media (max-width:570px){
    footer{
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    .footer-respo{
        padding: 20px;
    }
} 
